---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","source":"example-index"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Apr 2023 00:18:27 GMT
recorded_with: VCR 6.1.0
