---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","source":"example-index-2"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 529e8f9f0b72d953582a453aac8c8773
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","status":"Initializing","dimension":3,"environment":"<PINECONE_ENVIRONMENT>"}'
  recorded_at: Mon, 29 Jan 2024 16:11:05 GMT
recorded_with: VCR 6.1.0
