---
http_interactions:
- request:
    method: post
    uri: https://test-index-serverless-d2c1065.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"1"},{"values":[1,2,3],"id":"2"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '38'
      X-Pinecone-Request-Id:
      - '4033875309875663471'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":2}'
  recorded_at: Wed, 17 Apr 2024 14:50:36 GMT
- request:
    method: get
    uri: https://test-index-serverless-d2c1065.svc.aped-4627-b74a.pinecone.io/vectors/list?limit=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '7'
      X-Pinecone-Request-Id:
      - '8561116144363514106'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"1"}],"pagination":{"next":"eyJza2lwX3Bhc3QiOiIxIiwicHJlZml4IjpudWxsfQ=="},"namespace":"","usage":{"readUnits":1}}'
  recorded_at: Wed, 17 Apr 2024 14:50:42 GMT
- request:
    method: post
    uri: https://test-index-serverless-d2c1065.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '50'
      X-Pinecone-Request-Id:
      - '6855191500182073582'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 17 Apr 2024 14:50:42 GMT
recorded_with: VCR 6.1.0
