---
http_interactions:
- request:
    method: post
    uri: https://example-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"1"},{"values":[0,1,-1],"id":"2"},{"values":[1,-1,0],"id":"3"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":3}'
  recorded_at: Fri, 24 Feb 2023 20:41:44 GMT
recorded_with: VCR 6.1.0
