---
http_interactions:
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"1","metadata":{"genre":"comedy"}},{"values":[0,1,-1],"id":"2","metadata":{"genre":"comedy"}},{"values":[1,-1,0],"id":"3"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":3}'
  recorded_at: Wed, 07 Aug 2024 18:46:09 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: '{"filter":{"genre":{"$eq":"comedy"}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{"":{"vectorCount":2}},"dimension":3,"indexFullness":0,"totalVectorCount":3}'
  recorded_at: Wed, 07 Aug 2024 18:46:09 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 07 Aug 2024 18:46:09 GMT
recorded_with: VCR 6.1.0
