---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 422
      message: unknown
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - b51d7cb981be3ea2998f58d39591799a
    body:
      encoding: UTF-8
      string: 'Failed to deserialize the JSON body into the target type: missing field
        `spec` at line 1 column 57'
  recorded_at: Mon, 29 Jan 2024 16:11:10 GMT
- request:
    method: delete
    uri: https://api.pinecone.io/indexes/test-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Cloud-Trace-Context:
      - 8f76c29120bd0e7d29982bc1b8d43acb
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jan 2024 16:11:10 GMT
recorded_with: VCR 6.1.0
