---
http_interactions:
- request:
    method: delete
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases/example-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Mar 2023 01:00:43 GMT
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: index test-index already exists
  recorded_at: Tue, 21 Mar 2023 01:04:29 GMT
- request:
    method: delete
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases/test-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Mar 2023 01:04:29 GMT
recorded_with: VCR 6.1.0
