---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 422
      message: unknown
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - d4eb5ef3c750ca15bc39c215500578fc
    body:
      encoding: UTF-8
      string: 'Failed to deserialize the JSON body into the target type: missing field
        `spec` at line 1 column 57'
  recorded_at: Wed, 07 Aug 2024 18:26:49 GMT
- request:
    method: delete
    uri: https://api.pinecone.io/indexes/test-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 97372ccc0e8510f480e08084a9aadd3c
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Aug 2024 18:26:49 GMT
recorded_with: VCR 6.1.0
