---
http_interactions:
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"test1"},{"values":[4,5,6],"id":"test2"},{"values":[7,8,9],"id":"test3"},{"values":[10,11,12],"id":"other1"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '35'
      X-Pinecone-Request-Id:
      - '4658174415742250927'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":4}'
  recorded_at: Thu, 08 Aug 2024 21:06:58 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '6807806089661257870'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{},"dimension":3,"indexFullness":0,"totalVectorCount":0}'
  recorded_at: Thu, 08 Aug 2024 21:06:58 GMT
[...]
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '1417169704626661126'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{"":{"vectorCount":4}},"dimension":3,"indexFullness":0,"totalVectorCount":4}'
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
- request:
    method: get
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/list?limit=100&prefix=test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '3953169326974459888'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"test1"},{"id":"test2"},{"id":"test3"}],"namespace":"","usage":{"readUnits":1}}'
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '9'
      X-Pinecone-Request-Id:
      - '7516266882834021812'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 6d913b0de5f6c70ec081a0d92c46e053
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '1'
      X-Pinecone-Request-Id:
      - '7651213349196294554'
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"Namespace not found","details":[]}'
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
[...]
- request:
    method: get
    uri: https://api.pinecone.io/indexes/server-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 21d21a2a87440591d7b4703769bdea1d
    body:
      encoding: UTF-8
      string: '{"name":"server-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:07:02 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:07:03 GMT
recorded_with: VCR 6.1.0
