---
http_interactions:
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"test1"},{"values":[4,5,6],"id":"test2"},{"values":[7,8,9],"id":"test3"},{"values":[10,11,12],"id":"other1"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '83'
      X-Pinecone-Request-Id:
      - '1908842139578149785'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":4}'
  recorded_at: Thu, 08 Aug 2024 18:54:26 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '2'
      X-Pinecone-Request-Id:
      - '6528159235368572372'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{},"dimension":3,"indexFullness":0,"totalVectorCount":0}'
  recorded_at: Thu, 08 Aug 2024 18:54:26 GMT
[...]
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '2'
      X-Pinecone-Request-Id:
      - '4623461952131286725'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{"":{"vectorCount":4}},"dimension":3,"indexFullness":0,"totalVectorCount":4}'
  recorded_at: Thu, 08 Aug 2024 18:54:28 GMT
- request:
    method: get
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/list?limit=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '4'
      X-Pinecone-Request-Id:
      - '1258567252513408677'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"other1"},{"id":"test1"}],"pagination":{"next":"eyJza2lwX3Bhc3QiOiJ0ZXN0MSIsInByZWZpeCI6bnVsbH0="},"namespace":"","usage":{"readUnits":1}}'
  recorded_at: Thu, 08 Aug 2024 18:54:28 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '8'
      X-Pinecone-Request-Id:
      - '3440737151205440447'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 18:54:28 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 4ee05e25ea97031d41d7987d400d39fa
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Thu, 08 Aug 2024 20:22:09 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '1'
      X-Pinecone-Request-Id:
      - '8179575873914588673'
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"Namespace not found","details":[]}'
  recorded_at: Thu, 08 Aug 2024 20:22:09 GMT
[...]
- request:
    method: get
    uri: https://api.pinecone.io/indexes/server-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 9d1134bee8dac6d914601c705b2a9ea0
    body:
      encoding: UTF-8
      string: '{"name":"server-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Thu, 08 Aug 2024 20:22:09 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 20:22:09 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 20:22:10 GMT
recorded_with: VCR 6.1.0
