---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"example-index","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: index example-index already exists
  recorded_at: Tue, 21 Mar 2023 01:04:35 GMT
recorded_with: VCR 6.1.0
