---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes/missing-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - b4b4d3c232c5c250b9ba778e586334cf
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"Resource missing-index not
        found"},"status":404}'
  recorded_at: Mon, 29 Jan 2024 16:11:17 GMT
recorded_with: VCR 6.1.0
