---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes/missing-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 9087d91ca921a056333331c9f00d2589
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"Resource missing-index not
        found"},"status":404}'
  recorded_at: Wed, 07 Aug 2024 17:49:14 GMT
recorded_with: VCR 6.1.0
