---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes/test-index-serverless
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - ad1a5890b0d1eaa19ef59c99396ddb9a
    body:
      encoding: UTF-8
      string: '{"name":"test-index-serverless","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"test-index-serverless-d2c1065.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Wed, 17 Apr 2024 14:50:52 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 2d89bfe48a871195a13456349d361a87
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Wed, 07 Aug 2024 18:46:44 GMT
recorded_with: VCR 6.1.0
