---
http_interactions:
- request:
    method: get
    uri: https://controller.us-east1-gcp.pinecone.io/databases/example-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"database":{"name":"example-index","metric":"dotproduct","dimension":3,"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1"},"status":{"waiting":[],"crashed":[],"host":"example-index-b2e8921.svc.us-east1-gcp.pinecone.io","port":433,"state":"Ready","ready":true}}

        '
  recorded_at: Fri, 24 Feb 2023 19:06:31 GMT
recorded_with: VCR 6.1.0
