---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes/example-index-2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - b3087b0301d65d615f398653679af0fb
    body:
      encoding: UTF-8
      string: '{"name":"example-index-2","metric":"dotproduct","dimension":3,"status":{"ready":false,"state":"Upgrading"},"host":"example-index-2-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":2,"shards":1,"pods":2,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Mon, 29 Jan 2024 16:11:18 GMT
recorded_with: VCR 6.1.0
