---
http_interactions:
- request:
    method: post
    uri: https://controller.us-east1-gcp.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 24 Feb 2023 15:56:54 GMT
recorded_with: VCR 6.1.0
