---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","source":"example-index-2"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - d0ebc71c20267f1e363997a57024d2b3
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ALREADY_EXISTS","message":"Resource  already exists"},"status":409}'
  recorded_at: Mon, 29 Jan 2024 16:11:05 GMT
recorded_with: VCR 6.1.0
