---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3,"spec":{"pod":{"environment":"<PINECONE_ENVIRONMENT>","pod_type":"p1.x1"}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - a8c4f12ef2078698221711bb6669c035
    body:
      encoding: UTF-8
      string: '{"error":{"code":"ALREADY_EXISTS","message":"Resource  already exists"},"status":409}'
  recorded_at: Wed, 07 Aug 2024 18:26:49 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/test-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - f6e68e9315aadbedb5e59ff3e0d7cf2e
    body:
      encoding: UTF-8
      string: '{"name":"test-index","metric":"dotproduct","dimension":3,"status":{"ready":false,"state":"Terminating"},"host":"test-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Wed, 07 Aug 2024 18:26:49 GMT
recorded_with: VCR 6.1.0
