---
http_interactions:
- request:
    method: post
    uri: https://controller.us-east1-gcp.pinecone.io/databases
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: index test-index already exists
  recorded_at: Fri, 24 Feb 2023 18:42:38 GMT
- request:
    method: get
    uri: https://controller.us-east1-gcp.pinecone.io/databases/test-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"database":{"name":"test-index","metric":"dotproduct","dimension":3,"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1"},"status":{"waiting":[],"crashed":[],"host":"test-index-b2e8921.svc.us-east1-gcp.pinecone.io","port":433,"state":"Ready","ready":true}}

        '
  recorded_at: Fri, 24 Feb 2023 18:42:39 GMT
recorded_with: VCR 6.1.0
