---
http_interactions:
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"test1"},{"values":[4,5,6],"id":"test2"},{"values":[7,8,9],"id":"test3"},{"values":[10,11,12],"id":"other1"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '30'
      X-Pinecone-Request-Id:
      - '7669297616637410700'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":4}'
  recorded_at: Thu, 08 Aug 2024 21:06:21 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '4626278185972174623'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{},"dimension":3,"indexFullness":0,"totalVectorCount":0}'
  recorded_at: Thu, 08 Aug 2024 21:06:21 GMT
[...]
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '4685091858829238912'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{"":{"vectorCount":4}},"dimension":3,"indexFullness":0,"totalVectorCount":4}'
  recorded_at: Thu, 08 Aug 2024 21:06:23 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[13,14,15],"id":"ns1"}],"namespace":"example-namespace"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '30'
      X-Pinecone-Request-Id:
      - '6566428610913340712'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Thu, 08 Aug 2024 21:06:23 GMT
[...]
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '7741729907538145585'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{"example-namespace":{"vectorCount":1},"":{"vectorCount":4}},"dimension":3,"indexFullness":0,"totalVectorCount":5}'
  recorded_at: Thu, 08 Aug 2024 21:06:26 GMT
- request:
    method: get
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/list?limit=100&namespace=example-namespace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '2'
      X-Pinecone-Request-Id:
      - '7657819185399135948'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"vectors":[{"id":"ns1"}],"namespace":"example-namespace","usage":{"readUnits":1}}'
  recorded_at: Thu, 08 Aug 2024 21:06:26 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '7'
      X-Pinecone-Request-Id:
      - '401774028269247879'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:27 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 04e6d3301321726fd287d63b4b5243d4
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Thu, 08 Aug 2024 21:06:27 GMT
[...]
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '0'
      X-Pinecone-Request-Id:
      - '2403127979638426301'
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"Namespace not found","details":[]}'
  recorded_at: Thu, 08 Aug 2024 21:06:27 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/server-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - f50b83a3635cd307106f845a4427c95b
    body:
      encoding: UTF-8
      string: '{"name":"server-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Thu, 08 Aug 2024 21:06:27 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:27 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:27 GMT
recorded_with: VCR 6.1.0
