---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - a2439341d4c033d2a461525e710595e3
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Wed, 07 Aug 2024 18:26:43 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '34'
      X-Pinecone-Request-Id:
      - '2804607355677476942'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Wed, 07 Aug 2024 18:26:43 GMT
recorded_with: VCR 6.1.0
