---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes/example-index-1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - f1bbe80974c19f82d0647cfa1a8b96a0
    body:
      encoding: UTF-8
      string: '{"name":"example-index-1","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"example-index-1-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Mon, 29 Jan 2024 16:11:03 GMT
- request:
    method: post
    uri: https://example-index-1-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"1"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Mon, 29 Jan 2024 16:11:04 GMT
recorded_with: VCR 6.1.0
