---
http_interactions:
- request:
    method: get
    uri: https://api.pinecone.io/indexes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 877d0152bcd8c88a115e98db891bc334
    body:
      encoding: UTF-8
      string: '{"indexes":[{"name":"example-index-1","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"example-index-1-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}},{"name":"example-index-2","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"example-index-2-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}]}'
  recorded_at: Mon, 29 Jan 2024 16:11:06 GMT
recorded_with: VCR 6.1.0
