---
http_interactions:
- request:
    method: delete
    uri: https://api.pinecone.io/indexes/test-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 69b78b09986f062bb234440a48497b6b
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"Resource test-index not found"},"status":404}'
  recorded_at: Wed, 07 Aug 2024 18:26:47 GMT
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index","dimension":3,"spec":{"pod":{"environment":"<PINECONE_ENVIRONMENT>","pod_type":"p1.x1"}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Operation-Id:
      - 075f5b9c-64f4-473e-a7e6-49d0b1355d71
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - e3e30b65af5abec72c4677b388f55c9c
    body:
      encoding: UTF-8
      string: '{"name":"test-index","metric":"dotproduct","dimension":3,"status":{"ready":false,"state":"Initializing"},"host":"test-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Wed, 07 Aug 2024 18:26:48 GMT
recorded_with: VCR 6.1.0
