---
http_interactions:
- request:
    method: patch
    uri: https://api.pinecone.io/indexes/example-index-2
    body:
      encoding: UTF-8
      string: '{"spec":{"pod":{"replicas":2}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 837f40d8583fc1088f6d4254119bd238
    body:
      encoding: UTF-8
      string: '{"name":"example-index-2","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"example-index-2-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":2,"shards":1,"pods":2,"pod_type":"","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Mon, 29 Jan 2024 16:11:10 GMT
recorded_with: VCR 6.1.0
