---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","source":"example-index"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 409
      message: Conflict
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: collection request test-collection already exists
  recorded_at: Tue, 04 Apr 2023 00:18:28 GMT
- request:
    method: get
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","status":"Initializing","dimension":3}

        '
  recorded_at: Tue, 04 Apr 2023 00:18:28 GMT
recorded_with: VCR 6.1.0
