---
http_interactions:
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"document1#1","metadata":{"genre":"comedy"}},{"values":[0,1,-1],"id":"document1#2","metadata":{"genre":"drama"}},{"values":[1,-1,0],"id":"document2#1","metadata":{"genre":"action"}}],"namespace":"example-namespace"}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Lsn:
      - '1'
      X-Pinecone-Request-Latency-Ms:
      - '37'
      X-Pinecone-Request-Id:
      - '16327757291631830'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":3}'
  recorded_at: Wed, 07 Aug 2024 17:49:25 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '2'
      X-Pinecone-Request-Id:
      - '1141914840692728625'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{},"dimension":3,"indexFullness":0,"totalVectorCount":0}'
  recorded_at: Wed, 07 Aug 2024 17:49:25 GMT
[...]
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/describe_index_stats
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '3'
      X-Pinecone-Request-Id:
      - '1786699534747265256'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"namespaces":{"example-namespace":{"vectorCount":3}},"dimension":3,"indexFullness":0,"totalVectorCount":3}'
  recorded_at: Wed, 07 Aug 2024 17:49:28 GMT
- request:
    method: get
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/list?limit=100&namespace=non-existent-namespace
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '1'
      X-Pinecone-Request-Id:
      - '2961305546361460675'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"vectors":[],"namespace":"non-existent-namespace"}'
  recorded_at: Wed, 07 Aug 2024 17:49:28 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '12'
      X-Pinecone-Request-Id:
      - '3043905910070648566'
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Wed, 07 Aug 2024 17:49:28 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '0'
      X-Pinecone-Request-Id:
      - '6715378077488091162'
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"Namespace not found","details":[]}'
  recorded_at: Wed, 07 Aug 2024 17:49:28 GMT
recorded_with: VCR 6.1.0
