---
http_interactions:
- request:
    method: post
    uri: https://example-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"5"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Tue, 21 Mar 2023 01:00:44 GMT
- request:
    method: post
    uri: https://example-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":["5"],"deleteAll":false}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Tue, 21 Mar 2023 01:12:30 GMT
- request:
    method: post
    uri: "<PINECONE_INDEX_NAME_1>"
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"5"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Wed, 07 Jun 2023 16:40:06 GMT
- request:
    method: post
    uri: "<PINECONE_INDEX_NAME_1>"
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":["5"],"deleteAll":false,"filter":{}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":3,"message":"No explicit ids expected when filter passed","details":[]}'
  recorded_at: Wed, 07 Jun 2023 16:40:06 GMT
- request:
    method: post
    uri: https://<PINECONE_INDEX_NAME_1>-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/upsert
    body:
      encoding: UTF-8
      string: '{"vectors":[{"values":[1,2,3],"id":"5"}]}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: '{"upsertedCount":1}'
  recorded_at: Wed, 07 Jun 2023 16:43:41 GMT
- request:
    method: post
    uri: https://<PINECONE_INDEX_NAME_1>-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":["5"],"deleteAll":false,"filter":{}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":3,"message":"No explicit ids expected when filter passed","details":[]}'
  recorded_at: Wed, 07 Jun 2023 16:43:41 GMT
recorded_with: VCR 6.1.0
