---
http_interactions:
- request:
    method: delete
    uri: https://api.pinecone.io/indexes/test-index-serverless
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - a1e7974c34caa3ebab79b53904eeec34
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Aug 2024 18:26:46 GMT
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index-serverless","dimension":3,"spec":{"serverless":{"cloud":"aws","region":"us-west-2"}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Operation-Id:
      - 51e13ea0-b499-4193-9481-319def93e5b6
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 1c93dad4714ccae56ef5d2f1eb460bd5
    body:
      encoding: UTF-8
      string: '{"name":"test-index-serverless","metric":"dotproduct","dimension":3,"status":{"ready":false,"state":"Initializing"},"host":"test-index-serverless-b2e8921.svc.apw5-4e34-81fa.pinecone.io","spec":{"serverless":{"region":"us-west-2","cloud":"aws"}}}'
  recorded_at: Wed, 07 Aug 2024 18:26:47 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - a440ff83b962d23ec3dea7cb658733c5
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Thu, 08 Aug 2024 21:06:45 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '1'
      X-Pinecone-Request-Id:
      - '2083440418348389599'
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"Namespace not found","details":[]}'
  recorded_at: Thu, 08 Aug 2024 21:06:45 GMT
[...]
- request:
    method: get
    uri: https://api.pinecone.io/indexes/server-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - b1a7809e426e250c7c05af8a2bdde0ed
    body:
      encoding: UTF-8
      string: '{"name":"server-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Thu, 08 Aug 2024 21:06:45 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:45 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:46 GMT
recorded_with: VCR 6.1.0
