---
http_interactions:
- request:
    method: delete
    uri: https://api.pinecone.io/indexes/test-index-serverless
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - a1e7974c34caa3ebab79b53904eeec34
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Aug 2024 18:26:46 GMT
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index-serverless","dimension":3,"spec":{"serverless":{"cloud":"aws","region":"us-west-2"}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Operation-Id:
      - 51e13ea0-b499-4193-9481-319def93e5b6
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 1c93dad4714ccae56ef5d2f1eb460bd5
    body:
      encoding: UTF-8
      string: '{"name":"test-index-serverless","metric":"dotproduct","dimension":3,"status":{"ready":false,"state":"Initializing"},"host":"test-index-serverless-b2e8921.svc.apw5-4e34-81fa.pinecone.io","spec":{"serverless":{"region":"us-west-2","cloud":"aws"}}}'
  recorded_at: Wed, 07 Aug 2024 18:26:47 GMT
recorded_with: VCR 6.1.0
