---
http_interactions:
- request:
    method: delete
    uri: https://api.pinecone.io/indexes/test-index-serverless
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - 2de0b655129807b647c4004f7e09131d
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"Resource test-index-serverless
        not found"},"status":404}'
  recorded_at: Mon, 29 Jan 2024 16:11:06 GMT
- request:
    method: post
    uri: https://api.pinecone.io/indexes
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-index-serverless","dimension":3,"spec":{"serverless":{"cloud":"aws","region":"us-west-2"}}}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 03e1012638513548aa7255399b8cee5e
    body:
      encoding: UTF-8
      string: '{"name":"test-index-serverless","metric":"dotproduct","dimension":3,"status":{"ready":false,"state":"Initializing"},"host":"test-index-serverless-b2e8921.svc.apw5-4e34-81fa.pinecone.io","spec":{"serverless":{"region":"us-west-2","cloud":"aws"}}}'
  recorded_at: Mon, 29 Jan 2024 16:11:07 GMT
recorded_with: VCR 6.1.0
