---
http_interactions:
- request:
    method: post
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-collection","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: source database  does not exist
  recorded_at: Tue, 04 Apr 2023 00:19:18 GMT
- request:
    method: delete
    uri: https://controller.<PINECONE_ENVIRONMENT>.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 04 Apr 2023 00:19:18 GMT
recorded_with: VCR 6.1.0
