---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-collection","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 422
      message: unknown
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 4c0923917adea60f099152b090484ff0
    body:
      encoding: UTF-8
      string: 'Failed to deserialize the JSON body into the target type: missing field
        `source` at line 1 column 62'
  recorded_at: Wed, 07 Aug 2024 18:33:58 GMT
- request:
    method: delete
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 871b1bb7f321ce0e3a31f93c5047a93d
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Aug 2024 18:33:59 GMT
- request:
    method: get
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 3c676df24a1ce4c61afdc595f912d6dd
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","status":"Terminating","environment":"<PINECONE_ENVIRONMENT>"}'
  recorded_at: Wed, 07 Aug 2024 18:33:59 GMT
[...]
- request:
    method: get
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 6b3300434bff21809e648fca4ae50a71
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"Resource test-collection not
        found"},"status":404}'
  recorded_at: Wed, 07 Aug 2024 18:34:01 GMT
recorded_with: VCR 6.1.0
