---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-collection","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 422
      message: unknown
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Cloud-Trace-Context:
      - 9c21a0ceff2e8bda6517e3a76f27937d
    body:
      encoding: UTF-8
      string: 'Failed to deserialize the JSON body into the target type: missing field
        `source` at line 1 column 62'
  recorded_at: Mon, 29 Jan 2024 16:11:06 GMT
- request:
    method: delete
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Cloud-Trace-Context:
      - 6d8c2e03d323b393bef118a0cb202ac6
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 29 Jan 2024 16:11:06 GMT
recorded_with: VCR 6.1.0
