---
http_interactions:
- request:
    method: post
    uri: https://api.pinecone.io/collections
    body:
      encoding: UTF-8
      string: '{"metric":"dotproduct","name":"test-collection","dimension":3}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 422
      message: unknown
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 4c0923917adea60f099152b090484ff0
    body:
      encoding: UTF-8
      string: 'Failed to deserialize the JSON body into the target type: missing field
        `source` at line 1 column 62'
  recorded_at: Wed, 07 Aug 2024 18:33:58 GMT
- request:
    method: delete
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 202
      message: Accepted
    headers:
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 871b1bb7f321ce0e3a31f93c5047a93d
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 07 Aug 2024 18:33:59 GMT
- request:
    method: get
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 3c676df24a1ce4c61afdc595f912d6dd
    body:
      encoding: UTF-8
      string: '{"name":"test-collection","status":"Terminating","environment":"<PINECONE_ENVIRONMENT>"}'
  recorded_at: Wed, 07 Aug 2024 18:33:59 GMT
[...]
- request:
    method: get
    uri: https://api.pinecone.io/collections/test-collection
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - 6b3300434bff21809e648fca4ae50a71
    body:
      encoding: UTF-8
      string: '{"error":{"code":"NOT_FOUND","message":"Resource test-collection not
        found"},"status":404}'
  recorded_at: Wed, 07 Aug 2024 18:34:01 GMT
- request:
    method: get
    uri: https://api.pinecone.io/indexes/serverless-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - b33610df7fadb8e48411e43acf7af668
    body:
      encoding: UTF-8
      string: '{"name":"serverless-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io","spec":{"serverless":{"region":"us-east-1","cloud":"aws"}}}'
  recorded_at: Thu, 08 Aug 2024 21:06:43 GMT
- request:
    method: post
    uri: https://serverless-index-b2e8921.svc.aped-4627-b74a.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Request-Latency-Ms:
      - '0'
      X-Pinecone-Request-Id:
      - '2903009431682391009'
    body:
      encoding: UTF-8
      string: '{"code":5,"message":"Namespace not found","details":[]}'
  recorded_at: Thu, 08 Aug 2024 21:06:43 GMT
[...]
- request:
    method: get
    uri: https://api.pinecone.io/indexes/server-index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Pinecone-Api-Version:
      - 2024-04
      X-Cloud-Trace-Context:
      - cdef557c462dcd00ff1a71bde7318064
    body:
      encoding: UTF-8
      string: '{"name":"server-index","metric":"dotproduct","dimension":3,"status":{"ready":true,"state":"Ready"},"host":"server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io","spec":{"pod":{"replicas":1,"shards":1,"pods":1,"pod_type":"p1.x1","environment":"<PINECONE_ENVIRONMENT>"}}}'
  recorded_at: Thu, 08 Aug 2024 21:06:43 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"example-namespace","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:43 GMT
- request:
    method: post
    uri: https://server-index-b2e8921.svc.<PINECONE_ENVIRONMENT>.pinecone.io/vectors/delete
    body:
      encoding: UTF-8
      string: '{"namespace":"","ids":[],"deleteAll":true}'
    headers:
      Content-Type:
      - application/json
      Api-Key:
      - "<PINECONE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Grpc-Status:
      - '0'
    body:
      encoding: UTF-8
      string: "{}"
  recorded_at: Thu, 08 Aug 2024 21:06:43 GMT
recorded_with: VCR 6.1.0
